# Konfigurasi Mikrotik
IP_MIKROTIK=192.168.88.1
PORT_API_MIKROTIK=8728
USERNAME_MIKROTIK=admin
PASSWORD_MIKROTIK=password

# Konfigurasi Telegram
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# Konfigurasi Aplikasi
SECRET_KEY=change-this-to-a-secure-secret-key 